@import "../../styles//variables.css";

/* carousel */
.Home .carousel-container {
  background: url("../../images//home/carousel-background.png");
}
.Home .carousel {
  padding: 75px 0;
}
.Home .carousel img {
  border-radius: 10px;
}
.Home .carousel .carousel-caption{
  position: absolute;
  top: 15%;
  left: 50%;
  right: 5%;
  color: black;
  text-transform: capitalize;
}
.Home .carousel .carousel-caption h1 {
  font-weight: 700;
  font-size: 3rem;
}
.Home .carousel .carousel-caption p {
  color: gray;
}
.Home .carousel .carousel-caption button {
  font-weight: 500;
  padding: 12px 36px;
  border-radius: 6px;
  margin-top: 30px;
  font-size: 12px;
  background-color: var(--main-color);
  color: white;
}

/* two features */
.Home .two-features {
  margin-top: 75px;
}
.Home .two-features .feature {
  position: relative;
  margin-bottom: 35px;
}
.Home .two-features .feature img{
  width: 100%;
  border-radius: 10px;
}
.Home .two-features .feature .flip-image{
  transform: scaleX(-1);
}
.Home .two-features .feature .en-feature-description {
  position: absolute;
  top: 25%;
  left: 0;
  right: 50%;
  padding-left: 30px;
}
.Home .two-features .feature .ar-feature-description {
  position: absolute;
  top: 25%;
  right: 0;
  left: 50%;
  padding-right: 30px;
}
.Home .two-features .feature h3{
  color: black;
  line-height: 40px;
}
.Home .two-features .feature  button {
  font-weight: 500;
  padding: 12px 36px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 12px;
  background-color: var(--main-color);
  color: white;
}

 /* offers */
.Home .offers {
  margin-top: 40px;
}
.Home .offers .offer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
}
.Home .offers .offer-box  .offers-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDF3E7;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 32px;
color: black;
}
.Home .offers .offer-box  .offers-icon:hover{
  color: var(--main-color);
  transition: ease-in-out 0.3s;
}
.Home .offers .offer-box .offers-description h5 {
  color: black;
  margin-bottom: 15px;
}
.Home .offers .offer-box .offers-description p {
  color: gray;
  font-size: 13px;
}

/* top products */
.top-products {
  margin-top: 40px;
}
.top-products  h3 {
  color: black;
  font-weight: 700;
  text-align: center;
  margin-bottom: 37px;
}
.top-products .nav-pills {
  justify-content: center;
  padding-bottom: 30px;
}
.top-products .nav-link {
  color: black;
  margin: 0 10px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.top-products .nav-link:hover {
  background-color: var(--main-color);
  color: white;
}
.top-products .nav-item .active {
  background-color: var(--main-color) !important;
}

/* responsive */
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .Home .carousel {
    padding: 25px 0;
  }
  .Home .carousel .carousel-caption {
    display: block !important;
    top: 0;
    left: 50%;
    right: 5%;
  }
  .Home .carousel .carousel-caption h1 {
    font-weight: 500;
    font-size: 1rem;
  }
  .Home .carousel .carousel-caption p {
    display: none;
  }
  .Home .carousel .carousel-caption button {
    padding: 6px 12px;
    margin-top: 10px;
  }
  
  .Home .two-features .feature .en-feature-description, .Home .two-features .feature .ar-feature-description {
    top: 15%;
  }
  .Home .two-features .feature h3{
    font-size: 1.1rem;
    line-height: 30px;
  }
  .Home .two-features .feature  button {
    padding: 6px 12px;
    margin-top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .Home .carousel {
    padding: 35px 0;
  }
  .Home .carousel .carousel-caption {
    display: block !important;
    top: 10%;
    left: 50%;
    right: 5%;
  }
  .Home .carousel .carousel-caption h1 {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .Home .carousel .carousel-caption p {
    display: none;
  }
  .Home .carousel .carousel-caption button {
    padding: 8px 24px;
    margin-top: 15px;
  }

  .Home .two-features .feature .en-feature-description, .Home .two-features .feature .ar-feature-description {
    top: 20%;
  }
  .Home .two-features .feature h3{
    font-size: 1.3rem;
    line-height: 40px;
  }
  .Home .two-features .feature  button {
    padding: 8px 24px;
    margin-top: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Home .carousel {
    padding: 50px 0;
  }
  .Home .carousel .carousel-caption {
    display: block !important;
    top: 20%;
    left: 50%;
    right: 5%;
  }
  .Home .carousel .carousel-caption h1 {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .Home .carousel .carousel-caption p {
    display: none;
  }
  .Home .carousel .carousel-caption button {
    padding: 12px 36px;
    margin-top: 20px;
  }

  .Home .two-features .feature .en-feature-description, .Home .two-features .feature .ar-feature-description {
    top: 25%;
  }
  .Home .two-features .feature h3{
    font-size: 1.5rem;
    line-height: 40px;
  }
  .Home .two-features .feature  button {
    padding: 12px 36px;
    margin-top: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Home .carousel {
    padding: 50px 0;
  }
  .Home .carousel .carousel-caption {
    top: 15%;
    left: 50%;
    right: 5%;
  }
  .Home .carousel .carousel-caption h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  .Home .carousel .carousel-caption p {
    display: block;
  }
  .Home .carousel .carousel-caption button {
    padding: 12px 36px;
    margin-top: 20px;
  }

  .Home .two-features .feature .en-feature-description, .Home .two-features .feature .ar-feature-description {
    top: 15%;
  }
  .Home .two-features .feature h3{
    font-size: 1.5rem;
    line-height: 40px;
  }
  .Home .two-features .feature  button {
    padding: 12px 36px;
    margin-top: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Home .carousel {
    padding: 75px 0;
  }
  .Home .carousel .carousel-caption {
    top: 15%;
    left: 50%;
    right: 5%;
  }
  .Home .carousel .carousel-caption h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }
  .Home .carousel .carousel-caption p {
    display: block;
  }
  .Home .carousel .carousel-caption button {
    padding: 12px 36px;
    margin-top: 20px;
  }

  .Home .two-features .feature .en-feature-description, .Home .two-features .feature .ar-feature-description {
    top: 20%;
  }
  .Home .two-features .feature h3{
    font-size: 1.5rem;
    line-height: 40px;
  }
  .Home .two-features .feature  button {
    padding: 12px 36px;
    margin-top: 20px;
  }
}