@import "../../styles//variables.css";

.Product {
  position: relative;
  border: 1px solid #e6e5e5;
  border-radius: 10px;
  margin-bottom: 22px;
}
.Product .product-img img {
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px;
}
.Product .product-info .product-category {
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.Product .product-info .product-category a {
  color: gray;
  text-decoration: none;
}
.Product .product-info .product-category a:hover {
  color: var(--main-color);
  transition: ease-in-out 0.3s;
}
.Product .product-info .product-currency {
  font-size: 12px;
}
.Product .product-info .product-name {
  margin-bottom: 10px;
}
.Product .product-info .product-purchase {
  padding: 10px 15px;
  border-top: 1px solid #EEEEEE;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Product .product-info .product-description {
  padding: 0 15px;
}

.Product .product-info .product-purchase .add {
  padding: 3px 18px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: var(--main-color);
}
.Product  .product-weight {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
}
.Product  .product-weight .weight{
  width: 100%;
  font-weight: 500;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0;
}
.Product  .product-weight .weight-title {
  box-shadow: 0 1px 4px 1px rgb(0, 0, 0, 0.1);
  border-bottom: 0;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px 10px 0 0;
}
.Product  .product-weight .weight-title i{
  position: absolute;
  right: 10px;
}
.Product  .product-weight .weight span {
  font-size: 12px;
}
.Product  .product-weight .weight:focus,.Product  .product-weight .weight:hover {
  color: white;
  background-color: var(--main-color);
}
/* width */
.Product .product-weight::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.Product .product-weight::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
.Product .product-weight::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
.Product .product-weight::-webkit-scrollbar-thumb:hover {
  background: #555; 
}