/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  margin: 0;
  padding: 0;
}
body[lang=en] {
  font-family: 'Roboto', sans-serif;
}

body[lang =ar] {
  font-family: 'Cairo', sans-serif;
}

/* ::-webkit-scrollbar {
  display: none;
} */


.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}

